<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995892950021-gd69jneuprhojtf95ibd81c2titrvccr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995892950021-gd69jneuprhojtf95ibd81c2titrvccr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMJFFPRh8BGYVleRWntQQjb49MMVfD9G0</string>
	<key>GCM_SENDER_ID</key>
	<string>995892950021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrudApp</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-app-3fa98</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-app-3fa98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995892950021:ios:a0439d18d15c29f972d86c</string>
</dict>
</plist>